@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

body {
  background-color: #eee;
  font-family: sans-serif;
}

.custom-radio {
  width: 10px;
  height: 10px;
}
.custom-radio > div {
  box-shadow: 0 0 0 5px white;
}

.custom-radio input:checked + div {
  @apply bg-blue-500;
  box-shadow: 0 0 0 2.5px white, 0 0 0 5px #2979ff;
}

.custom-checkbox input:checked + div .custom-checkbox-square {
  background-color: #2979ff;
}

.custom-checkbox-square {
  width: 20px;
  height: 20px;
}
